h1 {
    margin-top: 5px
}


/* Chart-Container */

#autarky-chart-container,
#energy-chart-container {
    width: 95vw !important;
    height: 67vh !important;
    min-height: 300px;
    display: none;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.weekday-container {
    padding-left: 5px;
    display: inline-block;
    width: 78px;
    text-align: left;
}

.line-container {
    padding-left: 10 px;
    width: 90px;
}

.btn-outline-secondary {
    margin-top: 6px;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
}

#switchToEnergyBarView {
    margin-left: 0;
}

#switchToAutarkyBarView {
    margin-left: 10px;
}


/* Energy-table-container */

#energy-table-container {
    overflow-y: auto;
    overflow-x: auto;
    height: 65vh !important;
    min-height: 300px;
    max-height: none;
    margin: 0 auto;
    padding: 0;
}

#energyTable {
    font-size: 0.75rem !important;
    width: 100% !important;
    table-layout: fixed !important;
}

#energyTable .cell-energy {
    min-width: 80px !important;
}

#energyTable .cell-price {
    min-width: 50px !important;
}

#energyTable td {
    padding: 0.2rem;
}

#energyTable th {
    padding: 0.2rem;
    padding-right: 2rem;
    position: relative;
}

#energyTable thead {
    filter: brightness(80%);
    border-bottom: 3px solid white;
}

#energyTable tfoot {
    filter: brightness(80%);
    border-top: 3px solid white;
}

#energyTable th.table-active {
    width: auto !important;
}

#energyTable td.text-end {
    text-align: right;
}

#energy-table-container .d-flex {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#energy-table-container h6 {
    margin-bottom: 0;
    font-size: 1rem;
}

#energyTable .timestamp {
    background-color: var(--datetime-color);
    color: white;
}

#energyTable .purchase {
    background-color: var(--em-over-zero-color);
    ;
    color: white;
}

#energyTable .feed-in {
    background-color: var(--feed-in-color);
    ;
    color: white;
}

#energyTable .savings {
    background-color: var(--savings-color);
    color: white;
}

#energyTable .autarky {
    background-color: var(--savings-color);
    color: white;
}

#energyTable .production-caption {
    background-color: var(--pm1-color);
    color: black;
}

#energyTable .production-pmtotal {
    background-color: var(--pm1-color);
    color: black;
}

#energyTable .production-pm1 {
    background-color: var(--pm1-color);
    color: black;
}

#energyTable .production-pm2 {
    background-color: var(--pm2-color);
    color: black;
}

#energyTable .production-pm3 {
    background-color: var(--pm3-color);
    color: black;
}
