canvas {
    width: 75%;
    height: 45% !important;
}

h1 {
    margin-top: 5px
}

.weekday-container {
    padding-left: 5px;
    display: inline-block;
    width: 78px;
    text-align: left;
}

.line-container {
    padding-left: 10 px;
    width: 90px;
}

.btn-outline-secondary {
    margin-top: 6px;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
}

#energyTable .cell-energy {
    min-width: 80px !important;
}

#energyTable .cell-price {
    min-width: 50px !important;
}

#table-container {
    max-width: 90%;
    /* Maximale Breite auf 90% der Container-Breite setzen */
    margin: 0 auto;
    /* Zentriert den Container horizontal */
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
}

#energyTable {
    font-size: 0.85rem;
    width: 100% !important;
    table-layout: fixed !important;
}

#energyTable td {
    padding: 0.5rem;
}

#energyTable th {
    padding: 0.5rem;
    padding-right: 2rem;
    /* Platz für Sortierpfeile */
    position: relative;
    /* Damit die Pfeile korrekt positioniert werden können */
}

#energyTable thead {
    filter: brightness(80%);
    border-bottom: 3px solid white;
}

#energyTable tfoot {
    filter: brightness(80%);
    border-top: 3px solid white;
}

#energyTable th.table-active {
    width: auto !important;
}

#energyTable td.text-end {
    text-align: right;
}

#table-container .d-flex {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#table-container h6 {
    margin-bottom: 0;
    font-size: 1rem;
}

#switchToBarView {
    margin-left: 10px;
}

#energyTable .timestamp {
    background-color: var(--datetime-color);
    color: white;
}

#energyTable .purchase {
    background-color: var(--em-over-zero-color);
    ;
    color: white;
}

#energyTable .feed-in {
    background-color: var(--feed-in-color);
    ;
    color: white;
}

#energyTable .savings {
    background-color: var(--savings-color);
    color: white;
}

#energyTable .production-pm1 {
    background-color: var(--pm1-color);
    color: black;
}

#energyTable .production-pm2 {
    background-color: var(--pm2-color);
    color: black;
}

#energyTable .production-pm3 {
    background-color: var(--pm3-color);
    color: black;
}

#energyTable .darken-30 {
    filter: brightness(80%);
}